<!DOCTYPE html>
<html>
<head>
    <title>Flask Web App</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <h1>조반꿀에 오신걸 환영합니다!</h1>
    <p class="homepage-description">네이버 종목 토론방의 텍스트를 수집하여 라벨링을 한 후, 분류모델을 생성합니다. </p>
    <div class="image-container">
        <div class="image-wrapper">
            <img src="{{ url_for('static', filename='image1.png') }}" alt="Image 1" class="image">
            <h2 class="image-title">월간 조반꿀 현황</h2>
        </div>
        <div class="image-wrapper">
            <img src="{{ url_for('static', filename='image2.png') }}" alt="Image 2" class="image">
            <h2 class="image-title">워드 클라우드</h2>
        </div>
        <div class="image-wrapper">
            <img src="{{ url_for('static', filename='image3.png') }}" alt="Image 2" class="image">
            <h2 class="image-title">라벨링 기준</h2>
        </div>
    </div>
    <h3>조반꿀을 조회할 종목코드를 입력하세요!</h3>
    <input type="text" id="input-text" placeholder="텍스트를 입력하세요">
    <button id="execute-button">조회</button>
    <div id="image-container"></div>
    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>