<!DOCTYPE html>
<html>
<head>
    <title>Flask Web App</title>
    <link rel="stylesheet" href="./style.css">
</head>
<body>
    <h1>Hello, Flask!</h1>
    <div class="image-container">
        <img src="./image1.png" alt="Image 1" class="image">
        <h2>주간 조반꿀 현황</h2>

        <img src="{{ url_for('static', filename='image2.jpg') }}" alt="Image 2" class="image">
        <h2>월간 조반꿀 현황</h2>

        <img src="{{ url_for('static', filename='image3.jpg') }}" alt="Image 3" class="image">
        <h2>일간 조반꿀 순위</h2>

        <img src="{{ url_for('static', filename='image4.jpg') }}" alt="Image 4" class="image">
        <h2>반대 매매 시그널</h2>
    </div>
</body>
</html>
